.wrapper {
    margin: 0;
    max-width: 960px;
}
 .topInfo {
    padding: 0%;
    width: 100%;
    background-color: #1f1f56;
}

.topInfo p {
    margin: 23px 591px 19px 120px;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    font-family: "Arial";
}

.topInfo a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    font-family: "Arial";
}

.topInfo img {
    float: right;
}

.fb {
    float: right;
    margin: -18px 206px 18px 983px;
}

.tw {
    margin: -34px 158px 18px 1060px;
}

.inst {
    margin: -35px 120px 18px 1060px;
}

.topInfo a:hover {
    color: #fd8300;
}

.phoneimg {
    margin: -86px 800px 87px 388px;
    ;
}

.titlebox p {
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
}

.phones {
    margin: -85px 627px 42px 414px;
}

.contacts p {
    margin: -140px 7px 48px 660px;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #25252c;
    font-family: "Arial";
}

.contacts img {
    margin: -89px 217px 91px 635px;
}

.logo {
    padding: 29px 860px 9px 120px;
}

.clear {
    clear: 0;
}

.feedback {
    float: right;
    margin: -145px 227px
}

.feedback h1,
a {
    margin: -44px 23px;
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    text-decoration: none;
    font-family: "Arial";
}

.picture {
    width: 100%
}

.mainPicture {
    display: block;
}

.mainPicture h1 {
    text-align: center;
    margin: -178px 391px 153px 419px;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.mainPicture h6 {
    margin: auto;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Arial";
    text-align: center;
}

.content {
    width: 677px;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
}

.content h1 {
    font-size: 30px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.details a {
    font-size: 14px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}